<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }} | José Nunes</title>

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <link rel="icon" href="/profile.png" type="image/png">
</head>

<body>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Jose_Nunes.pdf">CV</a></li>
      <li><a href="https://linkedin.com/in/josepnunes/">LinkedIn</a></li>
    </ul>
  </nav>

  <main class="container">
    {{ content }}
  </main>

  <footer>
    <a href="https://josepaulonunes.github.io/">josepaulonunes.github.io</a>
    <span> · </span>
    <a href="https://github.com/josepaulonunes">GitHub</a>
  </footer>

</body>
</html>
